<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>float_margin</title>
    <style>
        .sub {
            width: 100px;
            float: left;
            background-color: yellow;
        }
        .extra {
            width: 200px;
            float: right;
            background-color: yellow;
        }
        .main {
            margin: 0 200px 0 100px;
            background-color: #0b97c4;
        }

    </style>
</head>
<body>
    <div id="content">
        <div class="sub">sub</div>
        <div class="extra">extra</div>
        <div class="main">main</div>
    </div>
</body>
</html>