<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1-column</title>
    <style>
        #layout {
            max-width: 960px;
            margin: 0 auto;
            text-align: center;
        }

        header {
            background-color: green;
        }

        #content {
            max-width: 800px;
            margin: 0 auto;
            background-color: yellow;
        }

        footer {
            background-color: deepskyblue;
        }
    </style>
</head>
<body>
    <div id="layout">
        <header>Header</header>
        <div id="content">
            Content
        </div>
        <footer>
            Footer
        </footer>
    </div>
</body>
</html>